<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVDStore - Home</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <h1>DVDStore - Home</h1>
    <h2><a href="add-movie-form">Ajout d'un film</a></h2>
    <section class="container">
        <div class="left-half">
            <article id="movie-list">

            </article>
        </div>
        <div class="right-half">
            <article id="movie-detail">

            </article>
        </div>
    </section>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>