<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVDStore - Home</title>
</head>
<body>
    <h1>DVDStore - Home</h1>
    <h2><a href="add-movie-form">Ajout d'un film</a></h2>
    <table border="1">
        <tr th:each="movie: ${movies}">
            <td>
                <a th:href="@{/movie/{id}(id=${movie.id})}" th:text="${movie.title}"></a>
            </td>
            <td th:text="${movie.genre}"></td>
        </tr>
    </table>
</body>
</html>